div.Umb_frame{
  float: left;
  width: 15%;
  height: 50%;
  border-style: dotted;
}
img.Umb_spin{
  width:80%;
}
img.Umb_yukihi{
  width:80%;
}
/*--------------------------------------------------------------------------*/
div.Plan_frame{
  float: left;
  width: 15%;
  height: 50%;
  border-style: dotted;
}
img.Plan_b1{
  width:45%;
}
img.Plan_b2{
  width:45%;
  visibility: hidden;
}
img.Plan_shinra{
  width:100%;
}
/*--------------------------------------------------------------------------*/
div.FR_frame{
  float: left;
  width: 15%;
  height: 50%;
  border-style: dotted;
}
img.FR_Findex{
  float: left;
  width: 15%;
}
img.FR_Rindex{
  float: left;
  width: 15%;
}
button.FR_fbutton{
  width: 50%;
  height: 50%
}
button.FR_rbutton{
  float: right;
  width: 50%;
  height: 50%
}
button.FR_2button{
  float: center;
  width: 100%;
  height: 20%
}
img.FR_fujin{
  float: left;
  width: 35%;
}
img.FR_raijin{
  float: left;
  width: 35%;
}
img.Plan_raira{
  width:100%;
}

@media screen and (max-width: 768px) {
	div.Umb_frame,
	div.Plan_frame,
	div.FR_frame {
		width: 30vw;
	}
}
